* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}
section {
  background-color: hsl(0, 0%, 100%);
}
.bg-purple {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  padding: 40px 40px;
}
.your-result {
  font-size: 18px;
  margin: 16px 0;
}
.pale-blue {
  color: hsl(241, 100%, 89%);
}
.circle {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50px;
  padding: 20px 20px;
}
h2 {
  font-size: 20px;
}
h1,
h2 {
  color: hsl(0, 0%, 100%);
}
.bg-white {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.details {
  display: block;
  margin: 10px 10px;
}
.detail {
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: hsl(224, 30%, 27%);
}
span {
  color: hsla(224, 30%, 27%, 0.61);
  margin-right: 5px;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction div p {
  color: hsla(0, 100%, 67%);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.memory div p {
  color: hsla(39, 100%, 56%);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal div p {
  color: hsl(166, 100%, 37%);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.visual div p {
  color: hsl(234, 85%, 45%);
}
.detail div {
  display: flex;
}
.detail div p {
  margin-left: 10px;
}
button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  width: 100%;
  height: 50px;
}
button:hover {
  background-color: hsl(241, 81%, 54%);
  transition: 0.2ms;
}

/* For wider screens */

@media (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  section {
    border: none;
    border-radius: 25px;
    box-shadow: 0px 50px 100px hsl(241, 100%, 89%);
    display: flex;
    margin-bottom: 30px;
  }
  .bg-purple {
    border-radius: 25px;
    width: 300px;
    justify-content: space-between;
  }
  .circle {
    border-radius: 80px;
    width: 120px;
    height: 120px;
  }
  h1 {
    font-size: 45px;
  }
  .bg-white {
    width: 300px;
  }
}
